### Data Encoding

1.Nominal/OHE encoding

2.Label and ordinal encoding

3.Target guided Ordinal encoding

#### Nominal /OHE encoding
one hot encoding 

used to represent categorical data as numerical data (suitable for ml algos )

each category is represented as a binary vector where each bit corresponds to a unique cateogrry.

In [1]:
#red : [1,0,0]
#green : [0,1,0]
#blue : [0,0,1]

In [2]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [3]:
#create a df 
df = pd.DataFrame({
  'color':['red','blue','green','green','red','blue']
})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
#create a instance of oneHotencoder
encoder = OneHotEncoder()

In [6]:
#perform fit and transform 
encoded=encoder.fit_transform(df[['color']]).toarray()

In [7]:
import pandas as pd 
encoder_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [12]:
#for new data 

encoder.transform([['blue']]).toarray()

c:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [13]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

### Label Encoding 

assign a unique numerical label to each cateogry in the variable . This labels are usually assigned in alphabetical order or based on the frequency of the categories .

In [14]:
#red : 1 
#green : 2 
#blue : 3 
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [15]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [18]:
lbl_encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [21]:
lbl_encoder.transform(['red'])

array([2])

### Ordinal Encoding 

used to encode cateogrical data that have an intrinsic order or ranking. 

each category is assigned a numerical value based on its position in the order.

In [22]:
#high school: 1 
#college : 2
#graduate : 3 
#post-graduate : 4

In [23]:
#ordinal encoding
 
from sklearn.preprocessing import OrdinalEncoder

In [24]:
df = pd.DataFrame({
  'size':['small','medium','large','medium','small','large']
})

In [25]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [27]:
#create a instance of ordinal encoder

encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [29]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [32]:
encoder.transform([['small']])

c:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])