#### Reading data from different sources

In [7]:
import pandas as pd 

from io import StringIO

#creating json data 

Data = '{"name": "John", "age": 30, "city": "New York", "email": "james@gmail.com", "job": [{"title": "Software Engineer", "salary": 80000}]}'


#converting json data to pandas datafram
pd.read_json(StringIO(Data))

,name,age,city,email,job
0,John,30,New York,james@gmail.com,"{'title': 'Software Engineer', 'salary': 80000}"