store collection of unique items 
unordered , no indexing 
no duplicates

In [1]:
# set
myset = { 1,2,3,4}
print(myset)
print(type(myset))

{1, 2, 3, 4}
<class 'set'>

In [3]:
empty = set()
print(type(empty))

<class 'set'>

In [4]:
num = {1,1,1,1,2,2,2,2,23,3,3,3}
print(num)

{1, 2, 3, 23}

In [ ]:
#Basic set operations 
#adding and removing elements 
num.add(4)
print(num)
# num.add(3)
num.remove(3)
print(num)

{1, 2, 3, 4, 23}
{1, 2, 4, 23}

In [10]:
num.discard(35) # does not give error if elemet not present otherwise remove the element

In [11]:
remove = num.pop()
print(remove)
print(num)

1
{2, 4, 23}

In [12]:
# clear all the elements from set 

myset.clear()
print(myset)

set()

In [15]:
# set memebership test
num = set([1,2,3,4,5,6,7,8,9])
print(num)

print(2 in num)
print(10 in num)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
True
False

In [16]:
# mathematical operations 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

#union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
#intersetion 

intersect = set1.intersection(set2)
print(intersect)

{4, 5, 6}

In [19]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [21]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

#differnce

print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [23]:
#symmetric diff
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [29]:
# sets methods 
set1 = {1,2,3 ,4,5}
set2 = {3,4,5}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [33]:
# counting unique elements in string 

text = " In this tutorial i am going to learn about sets "
words = text.split()
sets = set(words)
print(sets)
print(len(sets))

{'tutorial', 'sets', 'In', 'i', 'learn', 'this', 'am', 'about', 'going', 'to'}
10