In [1]:
import sqlite3

In [2]:
#connection to a sqlite3 database

connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()
cursor

In [5]:
#create a table 

cursor.execute('''
Create Table if not exists Employee(
               id Integer Primary Key ,
               name varchar not null , 
               age integer,
               department text
               
               )



''')

#commiting the changes

connection.commit()

In [6]:
cursor.execute('''
select * from Employee''')

In [13]:
#insert the data 

cursor.execute('''
insert into Employee(id, name ,age , department)
               values(2,'Anish', 22 , 'CS')
''')

cursor.execute('''
insert into Employee(id, name ,age , department)
               values(3,'Umesh', 22 , 'CS')
''')


cursor.execute('''
insert into Employee(id, name ,age , department)
               values(4,'Kunal', 22 , 'CS')
''')

#commit the changes 
connection.commit()

In [17]:
#querying the data from sqlite3
cursor.execute('select * from Employee')

rows = cursor.fetchall()

#print the queried data

for row in rows : 
  print(row)

(1, 'Pratham', 22, 'CS')
(2, 'Anish', 22, 'CS')
(3, 'Umesh', 22, 'CS')
(4, 'Kunal', 22, 'CS')

In [19]:
#update the data in the table 

cursor.execute('''
  update Employee 
  set department = 'AIDS' 
  where id = 2
''')
connection.commit()

In [20]:
#querying the data from sqlite3
cursor.execute('select * from Employee')

rows = cursor.fetchall()

#print the queried data

for row in rows : 
  print(row)

(1, 'Pratham', 22, 'CS')
(2, 'Anish', 22, 'AIDS')
(3, 'Umesh', 22, 'CS')
(4, 'Kunal', 22, 'CS')

In [21]:
#delete a data from db 

cursor.execute('''
  Delete from Employee
  where id =4 

''')

connection.commit()

In [22]:
#querying the data from sqlite3
cursor.execute('select * from Employee')

rows = cursor.fetchall()

#print the queried data

for row in rows : 
  print(row)

(1, 'Pratham', 22, 'CS')
(2, 'Anish', 22, 'AIDS')
(3, 'Umesh', 22, 'CS')

In [23]:
#close the connection 

connection.close()